<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="2">

	<test name="SearchCity">
		<classes>
			<class name="phipgn.sloppy_test.tests.SearchTest" />
		</classes>
		<packages>
			<package name="src.test.java" />
		</packages>
	</test>

</suite>